{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <h1 class="text-center mb-5">About Us</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at faucibus sapien. Morbi molestie eros id
                urna sollicitudin, sed elementum lorem malesuada. In vel bibendum nisi. Duis lacinia velit enim, sit
                amet mollis urna fermentum et. Curabitur quis nulla urna. Donec ultricies hendrerit sem ac scelerisque.
                Proin consectetur tortor et tellus bibendum dignissim.</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/pms.jpg' %}" alt="About Us" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="row my-5">
        <div class="col-md-6">
            <img src="{% static 'img/team.jpg' %}" alt="Our Team" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Our Team</h2>
            <p>Our team is made up of experts in various fields, including web development, design, marketing, and more.
                We work together to create high-quality, effective solutions for our clients. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Sed at faucibus sapien. Morbi molestie eros id urna sollicitudin, sed
                elementum lorem malesuada.</p>
        </div>
    </div>
</div>

{% endblock %}