{% extends 'base.html' %}
{% block title %}Create A New Project!{% endblock %}
{% block content %}

    
{% if user.is_authenticated %}
	<br/><br/>

	<div class="form-group w-50 mx-auto">
	<h1>Add Project...</h1>

<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.media }}
			{{ form.as_p }}
			<button class="btn btn-secondary mb-5">Add</button>
	</div>

	<script>
		var name = "{{ user.id }}";
		
		document.getElementById("saba").value = name;

	</script>

{% else %}

You're not allowed here! (and you know it...)

{% endif %}



{% endblock %}