{% extends 'base.html' %}

{% block content %}

    

<h1>Projects</h1>

<ul>
{% for project in object_list %}
	<li><a href="{% url 'project-detail' project.pk %}">{{ project.title }}</a> 

		- {{ project.author.first_name }} {{ project.author.last_name }} -  
		{{ project.post_date }} <small>

		{% if user.is_authenticated %}	
			{% if user.id == project.author.id %}
				- <a href="{% url 'update_project' project.pk %}">(Edit)</a> 

				<a href="{% url 'delete_project' project.pk %}">(Delete)</a>
			{% endif %}
		{% endif %}

	</small> <br/>
	{{ project.snippet }}</li>
{% endfor %}
</ul>



{% endblock %}