{% extends 'base.html' %}

{% block content %}

<div class="container">
	<h1 class="text-center">Projects</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Project Name</th>
				<th scope="col">Author</th>
				<th scope="col">Date</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for project in object_list %}
			<tr>
				<td><a class="text-decoration-none" href="{% url 'project-detail' project.pk %}">{{ project.title }}</a></td>
				<td>{{ project.author.username }}</td>
				<td>{{ project.post_date }}</td>
				<td>
					{% if user.is_authenticated %}
					{% if user.id == project.author.id %}
					<a class="btn btn-warning" href="{% url 'update_project' project.pk %} ">Edit</a>
					<a class="btn btn-danger" href="{% url 'delete_project' project.pk %}">Delete</a>
					{% endif %}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}