{% extends 'base.html' %}
{% block title %}Edit Project{% endblock %}
{% block content %}

    
{% if user.is_authenticated %}
	{% if user.id == project.author.id %}


		<div class="form-group w-50 mx-auto">
		<h1 class="text-center mt-3 mb-5">Update Project</h1>

			<form method="POST">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
				<div class="text-center mt-5 mb-5">
				<button class="btn btn-warning w-50 ">Update</button>

				</div>
		</div>
	{% else %}
			You're not allowed here! (and you know it...)
	{% endif %}		
{% else %}

You're not allowed here! (and you know it...)

{% endif %}




{% endblock %}